# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

NEXT_PUBLIC_API_PREFIX='http://localhost:3001/api'
QUEUE_REDIS_URL=
REDIS_URL=
DATABASE_URL=
API_BASE_URL=http://localhost:3001
AUTH_URL=http://tazeai.local:3000
AUTH_COOKIE_DOMAIN=tazeai.local
SENTRY_AUTH_TOKEN=
