# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
# build

# misc
.DS_Store
*.pem

.pnpm-debug.log*

# local env files
.env
.env*.local
.dev.vars

# vercel
.vercel

# turbo
.turbo

# IDE
.idea/*
!.idea/modules.xml
.project
.classpath
*.launch
*.sublime-workspace

.pnpm-store

.idea

# cloudflare
.wrangler
.open-next

.react-router
.million

# Build
dist/

.next
next-env.d.ts

# AI Rules
.cursorrules
.github/copilot-instructions.md
